.ant-form {
    width: 1400px;
    height: 1400px;
}


.ant-layout-sider-children {
    width: 256px;
}

.ant-layout {
    .ant-layout-sider.ant-layout-sider-dark {
        width: 256px;
        background-color: white;
    }
}

.ant-layout-content {
    .ant-form {
        margin-left: 210px;
    }
}


.ant-card-cover {
    .img {
        width: 320px;
        margin: 5px;
    }
}

.text {
    .ant-typography {
        margin-left: 50px;
        margin-top: 50px;
    }
}

.text-area {
    .ant-typography {
        margin-left: 50px;
    }
}

.div-section {
    .ant-card {
        width: 330px;
        margin: 15px;
    }
}


.border {
    margin-left: 250px;
    width: 800px;
    height: 100%;
    border-top: solid rgb(255, 253, 253) 1px;
    border-right: solid rgb(255, 253, 253) 1px;
    border-left: solid rgb(255, 253, 253) 1px;

}

.border-header {
    margin: auto;
    width: 800px;
    height: 200px;
    border-bottom: solid rgb(255, 253, 253) 1px;
}

.profile-icon {
    margin-left: -580px;
    margin-top: -50px;
}

.text {
    width: 150px;
    margin-left: -25px;
    margin-top: -30px;
}

.text-area {
    width: 150px;
    margin-left: -30px;
    margin-top: -10px;
}

.icons {
    width: 200px;
    margin-top: -110px;
    margin-left: 600px;
}

.mail {
    margin: 15px;
}

.follow {
    width: 80px;
    background-color: black;
    font: solid 15px black;
}

.ant-card-head-title {
    text-align: left;
}

.list {
    .ant-card {
        margin-top: 100px;
    }
}

.ant-card-body {
    width: auto;
}

.ant-card-grid {

    display: flex;
    flex-wrap: nowrap;
}

.list-1 {
    margin-top: 45px;
}

.list-1 {
    .ant-spin-nested-loading {
        margin-top: 40px;
        margin-left: 10px;

    }
}

.list-1 {
    .ant-typography {
        margin-left: 25px;
        text-align: left;
    }
}

.list-1 {
    .ant-list-item-meta-title {
        text-align: left;
        margin-left: 25px;
    }
}

.list-2 {
    margin-top: 45px;
}

.list-2 {
    .ant-typography {
        text-align: left;
        margin-left: 30px;
    }
}

.ant-spin-container {
    margin-left: 20px;
}

.list-2 {
    .ant-spin-nested-loading {
        margin-top: 25px;

    }
}

.list-3 {
    .ant-card {
        margin-top: 30px
    }
}

.photo {
    width: 100px;
    height: 100px;
}

.border-photo {
    width: 800px;
    height: 200px;
}

.ant-menu {
    .ant-menu-item {
        margin-top: 20px;
        font-size: medium;
    }
}

.ant-spin-nested-loading {
    margin: auto;
}

.alisveris {
    .ant-btn {
        width: 80px;
        background-color: #ED213A;
        margin-top: 20px;
        margin-left: 1500px;

    }
}

.total {
    margin-left: 1400px;
}

.shoptitle {
    .ant-typography {
        margin-left: -1450px;
    }
}

.ant-result-extra {
    .ant-btn {
        width: 130px;
        height: 30px;
        background-color: #bebebe;
    }
}