.ant-card-body {
    width: 315px;
    margin-top: 15px;
    font-size: 22px;
    color: #DBDBDB;
  }
.ant-input{
  width: 200px;
}

.ant-form{}
.ant-btn{
  background-color: #DBDBDB;
  width: 50px;
  box-shadow: none;
}
.ant-layout-content{
  background-color: white;
}
.btn{
  width: 100px;
  margin-left: 1320px;
}
.ant-layout-sider-children{
  background-color: white;
  width: 310px;
}
.ant-menu-submenu{
  height: 30px;
  margin-top: 20px;
  font-size: 15px;
  padding-left: 20px;
  padding-right: -60px;
}

.ant-list-item-meta-content{
  width: 200px;
}
.img{
  height: 350px;

}
.heart{
  margin: 7px;
 float :right;
 margin-top: 30px;
 height: 5px;

}
.home{
  float: right;
  margin: 7px;
  margin-top: 30px;
  height: 5px;
 }
 .phone{
  float: right;
  margin: 7px;
  margin-top: 30px;
  height: 5px;
 }

